$bodyFont: Helvetica, sans-serif;
$bgColor1: #e1f1f5;
$bgColor2: #184e5c;


body {
    height:100vm;
    font-family:$bodyFont;
    
}

html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: $bgColor1;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( $bgColor1, $bgColor2);
    background: -moz-linear-gradient($bgColor1, $bgColor2);
    background: -ms-linear-gradient( $bgColor1, $bgColor2);
    background: -o-linear-gradient( $bgColor1, $bgColor2);
    background: linear-gradient( $bgColor1, $bgColor2);
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}


* {
    box-sizing: border-box;
}