$bodyFont: Helvetica, sans-serif;
$bgColor1: #adcfd6;
$bgColor2: #2c6877;


body {
    height:100vm;
    font-family:$bodyFont;
    
}

.headerTitle {
    font-size: 2em;
    color: #4695a3;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 0px 0px 0 rgb(45,124,138),
                 1px 1px 0 rgb(20,99,113),
                 2px 2px  0 rgb(-5,74,88),
                 3px 3px 2px rgba(0,0,0,0.6),
                 3px 3px 1px rgba(0,0,0,0.5),
                 0px 0px 2px rgba(0,0,0,.2);
 }

html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: $bgColor1;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( $bgColor1, $bgColor2);
    background: -moz-linear-gradient($bgColor1, $bgColor2);
    background: -ms-linear-gradient( $bgColor1, $bgColor2);
    background: -o-linear-gradient( $bgColor1, $bgColor2);
    background: linear-gradient( $bgColor1, $bgColor2);
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

ul li::before {
    content: "\2022  ";
    color: red;
}


* {
    box-sizing: border-box;
}